.container {
  display: flex;
  justify-content: center;
  
}
label{
    display: inline-block;
    width: 60%;
    padding: 10px 0 10px 0;
    
  }
  input{
    display: inline-block;
    width: 30%;
    
  }
